*{
    margin:0;
    padding:0;
    outline:0;
}
body{
    
    font-family: 'poppins', sans-serif;
}

 h3{
    margin-bottom:25px;
    font-size:30px;
}
 h1{
    margin-bottom:25px;
    font-size: 50px;
    font-weight: bold;
    color: #ec4c7a;
}
p{
    color:dimgray;
}
.allblock{
    padding:0px 100px;
}
.half-width{
    width: 40%;
    float: left;
    line-height:30px;
    padding-top:100px;
    padding-left: 5%;
    margin-left:5%;
    
 

}


.half-width p{
    padding: 30px 0;
}

.half-width img{
    width:100%;
  

   
}
.top-header{
    background-image:url("image/header-bg.png");
    background-repeat: no-repeat;
    background-size:cover; 

}
.link-button{
    text-decoration: none;
    padding:10px 20px;
    background-image:linear-gradient(45deg,lightsalmon,tomato);
    font-weight:bold;
    color:white;
    border-radius:5px;
    margin-top:5px;
    
}
.left-header{
    padding-top: 20%;
}
.right-bio{
    padding-top:20%;
    
   
    
}
section{
    height:600px;
    padding-bottom:150px;
   
   
    
}
.biography{
    background-image:url("image/biography-bg.png");
    background-repeat: no-repeat;
    background-size:cover;
    
   

}
.picture-area{
    width:1170px;
   margin-top:100px;
 
    
   
    
}
.text{
    text-align:center;
    padding:30px;
}
.text h2{
    font-size:40px;
    
}
.picture{
    width:330px;
    float:left;
    padding:30px;
    
    
    

}
.picture img{
    width:100%;
    height: 100%;
 
   
}
.latest-work{
    background-image:url("image/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
   
 
}
.client-part{
    background-image: url("image/footer-bg.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.client-area{
    padding: 0 350px;
    text-align: center;
}
.client-say h2{
    padding: 70px 0;
}
.client-say h4{
    padding-bottom: 50px;
    color: #ec4c7a;
}
.client-say p{
    font-size: 15px; 
    padding-bottom: 50px;   
}
.container{
    padding: 0 280px;
}
.contact{
    background-color:#ec4c7a;
    border-radius: 15px;
}
.contact h5{
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}
.contact a{
    color: #ffffff;
    padding: 50px 230px;
    display: block;
    text-align: center;
}

.client-part h6{
    text-align: center;
    color: #ec4c7a;
    padding: 50px 0;
}

